footer{
    background-color: #313131;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

footer a{
    color: tomato;
    font-weight: bold;
}

footer img{
    margin-left: 20px;
    margin-right: 5px;
}