.container{
    width: 100%;
    min-height: 100px;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
}

.button{
    margin-bottom: 1.34375em;
}

.example-form-field{
    margin: 0px 8px;
}

mat-chip{
    user-select: none;
}

.chips{
    display: flex;
}