<div *ngIf="task" class="container">

  <mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{task.name}}
      </mat-panel-title>
      <mat-panel-description>
        Priority: {{task.priority}}
        
        <mat-icon (click)="taskDone()">done</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span>{{task.creationDate.toISOString()}}</span>
    <span>{{task.id}}</span>
    </mat-expansion-panel>

</mat-accordion>

</div>