/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;1,200&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}