.container{
    height: 1000px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas: "input filt"
                         "todo filt"
                         "done stats";
}

.todo{
    grid-area: todo;
}

.done{
    grid-area: done;
}

.input{
    grid-area: input;
}

.stats{
    grid-area: stats;
}

.filt{
    grid-area: filt;
}

@media (max-width: 660px) {
    .container{
        grid-template-columns: 100%;
        grid-template-rows: 10vh 50vh 40vh;
        grid-template-areas: "input"
                             "filt"
                             "todo"
                             "done"
                             "stats";
    }
}